header {
    background-color: #BBBBBB;
    padding: 20px;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 125px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav li a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid black 2px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.descricao-produtos{
    font-size: 18px;
}

.preco-produtos {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}