/* CSS comum a todas as páginas */
/* Home */
/* Produtos */
/* Contato */

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 125px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav li a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav li a:hover {
    color: #6E2C00;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid #000000 2px;
    border-radius: 5px 5px 80px 80px;
}

.produtos li:hover{
    border-color: #6E2C00;
    border-width: 4px;
}

.produtos li:active{
    border-color: #F1C40F;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.descricao-produtos{
    font-size: 18px;
}

.preco-produtos {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: url(imagens/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 14px;
    margin: 20px 0 0;
}

/* Verificar se esse background fica bom em todas as páginas ou apenas na Home. Se for deixar apenas na Home, posso criar uma classe no "main" da home e atribuir esse background a ele.*/
main {
    background: linear-gradient(#FEFEFE, #888888)
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.label-obrigatoria {
    display: inline-block;
}

.pergunta-obrigatoria {
    display: inline-block;
    color: #D93025;
    padding-left: 0.25em;
}

.input-padrao {
    display: block;
    width: 50%;
    margin: 0 0 20px;
    padding: 10px 20px;
}

textarea {
    font-family: Arial;
}

#checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 10px;
    background: orange;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.3);
}

table {
    margin: 0 0 40px;
}

caption {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
}

thead {
    background: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

th, td {
    border: solid #000000 1px;
    padding: 8px 15px;
}

/* Home */

.banner {
    width: 100%;
}

.principal {
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0;
}

.imagem-utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
    box-shadow: 5px 5px 5px;
}

.principal p {
    margin: 0 0 1em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.secao-mapa {
    width: 940px;
    margin: 0 auto;
    clear: left;
    padding: 2em 0;
}

.secao-mapa p {
    text-align: center;
    margin: 2em 0 2em;
}

.mapa {
    border: solid #6E2C00 5px;
}

.conteudo-beneficios {
    display: flex;
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "★ ";
    font-weight: 100;
}

.itens:nth-of-type(2n) {
    font-weight: bold;
}

.caixa-img-beneficios {
    display: inline-block;
    width: 60%;
}

.caixa-img-beneficios:hover > .imagem-beneficios{
    opacity: 0.65;
    transition: 0.5s;
} 

.imagem-beneficios {
    width: 100%;
    box-shadow: 7.5px 7.5px 5px;
}

.agendar {
    text-align: center;
    position: relative;
    bottom: 50%;
    visibility: hidden;
    text-transform: uppercase;
    font-weight: bold;
}

.agendar a {
    text-decoration: none;
    color: #000000;
}

.caixa-img-beneficios:hover > .agendar{
    visibility: visible;
}

.caixa-video {
    width: 560px;
    height: 400px;
    margin: 2em auto 0;  
}

.video{
    border: solid #6E2C00 5px;
}