header {
    background-color: #BBBBBB;
    padding: 20px;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 125px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav li a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav li a:hover {
    color: #6E2C00;
    text-decoration: underline;
}

.banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
    text-align: center;
}

.titulo-centralizado {
    text-align: center;
}

.principal h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}

strong {
    font-weight: bold;
}

.principal p {
    margin: 18px 0;
}

.missao{
    font-size: 20px;
    font-style: italic;
}

#missao strong {
    color: #FF0000;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.beneficios ul {
    list-style-type: disc;
}

.beneficios h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.lista-beneficios {
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem-beneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url(imagens/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 14px;
    margin: 20px 0 0;
}